.clearfix
  %h1.fl Data Dictionary Status
  .fr.clearfix.buttons
    =link_to "<span>Back</span>", dataset_descriptions_path, :class => 'dark button'
    
    
.content.clearfix
  .span-16
    %h2== Datasets without tables

    %ul.bordered
      - @datasets_sans_tables.each do |dd|
        %li.clearfix
          %span.fl= dd.title
          %a.fr.button{:href => url_for(:controller => "dataset_descriptions", :action => "destroy", :id => dd.id)} <span>Delete</span>
          %a.fr.button{:href => url_for(:controller => "dataset_descriptions", :action => "create_dataset_table", :id => dd.id)} <span>Create Table</span>

    %h2== Tables without descriptions

    %ul.bordered
      - @undescribed_tables.each do |table|
        %li.clearfix
          %span.fl= table
          %a.fr.button{:href => url_for(:controller => "dataset_descriptions", :action => "drop_table", :id => table)} <span>Drop</span>
          - if @conflict_tables.include?(table)
            %a.fr.button{:href => url_for(:controller => "dataset_descriptions", :action => "replace_dataset_table", :id => table)} <span>Replace dataset</span>
            = image_tag "icons/exclamation.png", :class => "fl", :alt => "conflict with existing dataset"
          - else
            %a.fr.button{:href => url_for(:controller => "dataset_descriptions", :action => "initialize_table", :id => table)} <span>Initialize</span>

    %h2== Rest of wrong stuff

    %ul.bordered.log
      - @log.messages.each do |message|
        %li
          %strong{:class => message.type}= message.type
          = message.message
