= render :partial => "status"

.node
  .information
    
    .clearfix
      %h1.fl= t "import.file_ready", :title => @import_file.title
      .fr
        = button_link_to t("import.edit_settings"), '#', :class => "toggle_settings"

    - form_for @import_file, :html => {:class => "inline"} do |f|
      %table#settings
        %tr
          %td
            = f.label :source
          %td
            = f.text_field :source
        %tr
          %td
            = f.label :dataset_description_id
          %td
            = f.grouped_collection_select :dataset_description_id, DatasetCategory.all, :dataset_descriptions, :title, :id, :title, :prompt => true
              
        %tr
          %td
            = f.label :number_of_header_lines
          %td
            = f.text_field :number_of_header_lines
            
        %tr
          %td
            = f.label :col_separator
          %td
            = f.text_field :col_separator
        
        %tr
          %td
            = f.label :encoding
          %td
            = f.select :encoding, IMPORT_ENCODINGS
            
        %tr
          %td
            %strong= t("import.status")
          %td
            %b= t("import.statuses.#{@import_file.status}")
        
        %tr
          %td
          %td= f.submit t("global.save")
    
%br

.clearfix
  .fl
    %h1= t "import.column_mapping"
  .fr.clearfix
    - if (@import_file.number_of_header_lines || 0) > 0
      = button_link_to t("import.guess_from_header"), preview_import_file_path(@import_file, :guess_mapping => true)
    = button_link_to t("import.use_default_mapping"), preview_import_file_path(@import_file)

- if params[:guess_mapping]
  %p.notice= t("import.guessing_mapping")

- form_tag import_import_file_path(@import_file), {:class => "inline preloader", :"data-preloader-message" => t("import.importing")} do
  %table
    %tr
      %th{:width => 30}= t "import.column"
      %th{:width => 200}= t "import.field_description"
      %th= t "import.header"
      %th= t "import.preview"
    - @importer.file.column_count.times do |i|
      %tr
        %td
          %b= i+1
        %td= field_description_picker(i)
        %td= @lines[0][i]
        %td= @lines[@import_file.number_of_header_lines || 0][i]
  
  %br
  
  = submit_tag t("import.start_import")
  