.clearfix
  %h1.fl
    = t "global.dataset_descriptions"

  .buttons.clearfix.fr
    =link_to "<span>#{t("dataset.create")}</span>", new_dataset_description_path, :class => 'button'
    =link_to "<span>#{t("dataset.create_category")}</span>", new_category_path, :class => 'button ajax', :id => "new_category"
    =link_to "<span>#{t("dataset.initialize")}</span>", import_dataset_descriptions_path, :class => 'button'
	  

%table.backend
  %tr
    %th{:width => 250}
      = t "global.title"
    %th
      = t "global.description"
    %th &nbsp;
    
  = render :partial => "dataset_category", :collection => @dataset_categories, :as => :group
  
  = render :partial => "dataset_category", :locals => {:group => nil} if @other_descriptions.count > 0