#favorite-popup
  .fp-header
    %span= t("global.note")
    %a.abort{href: '#', onclick: '$("#favorite-popup").remove(); return false;'}
  .fp-main
    = form_for @favorite, :builder => ListFormBuilder, :html => {:class => "small ajax"} do |f|
      = hidden_field_tag :dataset_description_id, params[:dataset_description_id]
      = hidden_field_tag :record_id, params[:record_id]

      = text_area_tag "note"
      = f.submit t("global.submit"), class: :submit
