%ul#navigation-breadcrumb
  %li.first= link_to t('global.home'), root_path
  %li= link_to t('global.favorites'), url_for

.legacy
  %ul
    - @favorites.each do |favorite|
      %li
        %div.clearfix
          .fl
            %div
              = link_to(image_tag("icons/trash.gif"), favorite_path(favorite), :method => "delete", :confirm => t("favorites.confirm_deletion"))
              - if favorite.dataset_description && favorite.record
                Record
                %strong= link_to(favorite.record_id, dataset_record_path(favorite.dataset_description, favorite.record_id))
                from dataset
                %strong= link_to(favorite.dataset_description.title, dataset_path(favorite.dataset_description))
              - elsif favorite.dataset_description
                Dataset
                %strong= link_to(favorite.dataset_description.title, dataset_path(favorite.dataset_description))
              - else
                N/A
            %div.excerpt
              = favorite.excerpt
          .fr
            - if favorite.note
              .note= favorite.note
