- if logged_in?
  #actions.clearfix
    - unless current_user.has_favorite?(@dataset_description, @record)
      - form_for @favorite do |f|
        = f.hidden_field :dataset_description_id
        = f.hidden_field :record_id
        = f.hidden_field :user_id
        %strong= t("global.add_to_favorites_hint")
        = f.submit t("global.add_to_favorites")
    - else
      = t("dataset.in_favorites")
      = link_to t("global.remove_from_favorites"), favorite_path(@favorite), :method => "delete"