#dataset_info_container
  .headline= @dataset_description.title
  .perex
    = textile @dataset_description.perex
    = link_to t('.more_information'), nil, onclick: %{$('a[href="#information"]').trigger('click'); GATracker._more_information_click('#{@dataset_description.identifier}'); return false;}
  .info
    - if @dataset_description.data_updated_at.present?
      = t '.last_update'
      %strong= l @dataset_description.data_updated_at, format: :full
      %br
    = t '.published_count'
    %strong= @dataset_description.record_count
    %br
    = t '.data_provider'
    %strong= @dataset_description.data_provider
