#dataset_menu
  %ul.tabs
    %li= link_to t("global.data"), '#data'
    %li= link_to t("global.information"), '#information'
    %li= link_to t("global.comments"), '#comments'
    - if logged_in?
      %li.navigation
        = link_to( t('dataset.relations_xml'), |
                      url_for(controller: :api, |
                              action: :dataset_relations, |
                              api_key: @current_user.api_key.key, |
                              dataset_id: @dataset_description.id, |
                              format: :xml), |
                      rel: 'download-relations', class: 'navigation')
        = link_to( t('dataset.changes_xml'), |
                      url_for( controller: :api, |
                              action: :dataset_changes, |
                              api_key:  @current_user.api_key.key, |
                              dataset_id: @dataset_description.id, |
                              format: :xml), |
                      rel: 'download-changes', class: 'navigation')
        %a{href: url_for(:controller => :api, :action => :dataset_records,  |
                              :api_key => @current_user.api_key.key, |
                              :dataset_id => @dataset_description.id),
           class: 'navigation'}= t("dataset.csv_export")
        %a{href: url_for(:controller => :api, :action => :dataset_description,  |
                              :api_key => @current_user.api_key.key, |
                              :dataset_id => @dataset_description.id),
           class: 'navigation'}= t("dataset.description_xml")
