%table{:class => "small #{@dataset_description.identifier}"}
  %tr.header
    - @field_descriptions.each do |field_description|
      %th{:class => field_description.identifier}
        %div{title: field_description.description, class: field_description.description.present? ? 'has-tip' : ''}= sort_link(field_description)
    %th{:class => "actions"} &nbsp;

  - @records.each do |record|
    %tr{:class => cycle("odd", "even")}
      - @field_descriptions.each do |field_description|
        %td{style: field_description.min_width? ? "min-width: #{field_description.min_width}px;" : ""}
          - value = record.get_truncated_html_value(field_description)
          - unless field_description.reference.blank?
            = link_to(value, new_search_path(:query_string => record.search_string_for_field_description(field_description)))
          - else
            = value
      %td.actions
        = link_to(image_tag("icons/show.png", :alt => t("global.show")), dataset_record_path(@dataset, record, :page => params[:page]))
