%h1.main=t "global.datasets"

- @dataset_categories.each do |dataset_category|
  %h2.bordered
    %a{:name => dataset_category ? dataset_category.title : t("global.other")}= dataset_category ? dataset_category.title : t("global.other")

  %table.frontend
    - dataset_category.dataset_descriptions.each do |description|
      %tr
        %td{:width => 200}
          %strong= link_to(description.title, dataset_path(description))
        %td
          %em= truncate(description.description.to_s, :length => 80)
        %td.actions{:align => 'right'}
          .clearfix
            = link_to("<span>#{t("global.browse_dataset")}</span>".html_safe, dataset_path(description), :class => "button")
            - if description.api_allowed_for?(current_user)
              = link_to "<span>API is enabled</span>".html_safe, page_path("api-access"), :class => "api_link tooltip", :name => I18n.t("api.allowed_for_dataset")
          
  %br
