%h1.main
  =t "global.datasets"
  - params[:show_bad_quality] = 'true' if params[:show_bad_quality].blank? && current_user.present? && current_user.show_bad_quality_datasets?
  - if params[:show_bad_quality] == 'true'
    = link_to t('.show_good_quality'), datasets_path(show_bad_quality: 'false'), class: 'view_wrong_dataset'
  - else
    = link_to t('.show_bad_quality'), datasets_path(show_bad_quality: 'true'), class: 'view_wrong_dataset'

- @dataset_categories.each do |dataset_category|
  #dataset_category_head
    = link_to dataset_category ? dataset_category.title : t('global.other'),
              "##{dataset_category ? dataset_category.title : t('global.other')}",
              name: dataset_category ? dataset_category.title : t("global.other"),
              class: 'headline'

  - dataset_category.dataset_descriptions.each do |description|
    - if !description.bad_quality? || (description.bad_quality && params[:show_bad_quality] == 'true')
      #dataset
        = link_to dataset_path(description), class: 'dataset_line' do
          %span.dataset_name= description.title
          %span= truncate(clear_textile(description.description), length: 80).html_safe
        - if description.api_allowed_for?(current_user)
          = link_to '', page_path("api-access"), :class => "api api_link tooltip", :name => I18n.t("api.allowed_for_dataset")
        = link_to '', nil, class: "dataset_status#{description.bad_quality? ? '_wrong' : ''}"

  -#%table.frontend
    - dataset_category.dataset_descriptions.each do |description|
      - if !description.bad_quality? || (description.bad_quality? && current_user.present? && current_user.show_bad_quality_datasets?) || (description.bad_quality && params[:show_bad_quality])
        %tr
          %td{:width => 200}
            %strong= link_to description.title, dataset_path(description)
            = image_tag 'icons/record_status/icon_doubtful.png', title: t('.bad_quality') if description.bad_quality?
          %td
            %em= truncate(clear_textile(description.description), length: 80).html_safe
          %td.actions{:align => 'right'}
            .clearfix
              = link_to("<span>#{t("global.browse_dataset")}</span>".html_safe, dataset_path(description), :class => "button", rel: 'show-dataset')
              - if description.api_allowed_for?(current_user)
                = link_to "<span>API is enabled</span>".html_safe, page_path("api-access"), :class => "api_link tooltip", :name => I18n.t("api.allowed_for_dataset")

  -#%br
-#- if params[:show_bad_quality].blank? && (current_user.present? && !current_user.show_bad_quality_datasets?)
  -#.fr
    -#= link_to datasets_path(show_bad_quality: true), class: 'button' do
      -#%span= t('.show_bad_quality')
  -#%br

