= render 'node_menu'
= render 'datasets/admin/navigation'
= render 'info_container'

#data

  .pagination.ajax.clearfix
    = render :partial => "pagination"

  #results
    = render :partial => "search_status"
    - if has_privilege?(:edit_record_metadata)
      = render :partial => "datasets/admin/table"
    - else
      = render :partial => "datasets/table"

  .pagination.ajax
    = render :partial => "pagination"

#information
  = render :partial => "information"

#comments
  = render :partial => "comments"

.clearfix &nbsp;

= render 'similar_datasets'
