%h1= @dataset_description.title

#dataset-description-container
  .dataset-description
    %h2= textile @dataset_description.perex
    .dataset-description-text= truncate(@dataset_description.description, length: 200)
    = link_to t('.more_information'), nil, onclick: %{$('.dataset-description-text').hide();$('#information').show();$(this).hide(); GATracker._more_information_click('#{@dataset_description.identifier}'); return false;}
    #information{style: 'display: none'}= textile(@dataset_description.description)

  %ul#dataset-about
    - if @dataset_description.data_updated_at.present?
      %li
        = t '.last_update'
        %strong= l @dataset_description.data_updated_at, format: :full
    %li
      = t '.published_count'
      %strong= @dataset_description.record_count

    %li
      = t '.data_provider'
      %strong= @dataset_description.data_provider

  -if logged_in?
    %ul#dataset-navigation
      = render 'node_menu'
      = render 'datasets/admin/navigation'

= render "pagination"

#results
  = render :partial => "search_status"
  - if has_privilege?(:edit_record_metadata)
    = render :partial => "datasets/admin/table"
  - else
    = render :partial => "datasets/table"

= render "pagination"
