.node
  .information
    .clearfix
      .fl
        %h1.main= @dataset_description.title
      .fr.actions
        - if logged_in? && current_user.has_privilege?(:create_record)
          = link_to t("dataset.create_record"), new_dataset_record_path(@dataset_description)
        - if logged_in? && current_user.has_privilege?(:edit_dataset_description)
          = link_to t("dataset.edit_description"), dataset_description_path(@dataset_description)
        - if logged_in? && current_user.has_privilege?(:import_from_file)
          = link_to t("global.import"), new_import_file_path(:dataset_description_id => @dataset_description.id)

    %p= t("dataset.short_summary", :count => @dataset_description.record_count, :provider => @dataset_description.data_provider)
    %p
      = truncate(textile(@dataset_description.description), length: 200).html_safe
      = link_to t('global.information'), '#/information', class: 'reload_anchor'


  = render :partial => 'node_menu'


#data
  
  .pagination.ajax.clearfix
    = render :partial => "pagination"
    
  #results
    = render :partial => "search_status"
    - if has_privilege?(:edit_record_metadata)
      = render :partial => "datasets/admin/table"
    - else
      = render :partial => "datasets/table"
          
  .pagination.ajax
    = render :partial => "pagination"
    
#information
  = render :partial => "information"
          
#comments
  = render :partial => "comments"
  
#search
  = render :partial => "search"
