= form_for(@relationship_description, :url => @relationship_description.new_record? ? dataset_description_relationship_descriptions_path(@dataset_description) : dataset_description_relationship_description_path(@dataset_description, @relationship_description), :builder => ListFormBuilder) do |f|
  = f.error_messages
    
  %ul
    = f.text_field :identifier
    = f.collection_select :target_dataset_description_id, DatasetDescription.all, :id, :title, {:prompt => ''}
    = f.text_field :is_to_many
    
  %li.clearfix.locale_switcher
    %label Language
    = locale_switcher :en, :sk
  
  .tabs
    - [:en, :sk].each do |locale|
      - f.fields_for locale, @relationship_description.send(locale) do |trans|
        .tab{ :id => locale }
          = trans.text_field :category
          = trans.text_field :title
          = trans.text_area :description
    
  %p
    = f.submit 'Save'
    or
    = link_to 'Cancel', dataset_description_path(@dataset_description), :class => 'cancel'