- content_for :email_preview do
  = "VVO parser problem - pre:"
  = link_to @document_url, @document_url

%h4= 'VVO parser problem'
%div
  %strong= "Pri stahovani obstaravania nastal problem."
  %p
    = 'Dokument: '
    = link_to @document_url, @document_url
    %br
    - if @error_type == :acceptable
      = 'Problem so strukturou dokumentu - neakceptovatelna struktura.'
    - else @error_type == :suppliers
      = 'Problem so strukturou dokumentu - problem so suppliers.'