.fl
  = will_paginate @records, :previous_label => t("global.previous"), :next_label => t("global.next")
- if has_privilege?(:data_management)
  .filters.fr= render :partial => "datasets/admin/filter"
.fr
  = t("global.record_count")
  %strong= @records.total_entries
  - if current_user
    - form_for current_user, :url => account_path, :html => {:class => "submit_on_change inline"} do |f|
      = t ("global.records_per_page")    
      = f.select :records_per_page, RECORDS_PER_PAGE_OPTIONS, :value => current_user.records_per_page, :class => 'inline'
      = hidden_field_tag :redirect, request.url
