.clearfix
  %h1.fl
    = t("settings.users.users")
    = link_to t("settings.users.download_csv"), users_path(:format => "csv")

  .buttons.clearfix.fr
    =link_to "<span>Watchers</span>", watchers_path, :class => "button"
    =link_to "<span>New User</span>", new_user_path, :class => "button"

- form_tag users_path, :method => "get" do
  %table
    %tr
      %th= t("settings.users.login")
      %th= t("settings.users.name")
      %th= t("settings.users.email")
      %th &nbsp;
    
    %tr.filter
      %td= text_field_tag "filters[login]", @filters[:login]
      %td= text_field_tag "filters[name]", @filters[:name]
      %td= text_field_tag "filters[email]", @filters[:email]
      %td
        %a.fr.delete{:href => users_path}= "reset"
    
    - @users.each do |user|
      %tr
        %td= link_to(user.login, edit_user_path(user))
        %td= user.name
        %td= user.email
        %td.actions
          .actions
            =link_to(image_tag('icons/trash.gif'), user_path(user), :confirm => 'Are you sure you want to delete this item?', :method => 'delete')