= form_for @user_role, :url => user_role_path(@user_role), :method => "put" do |f|
  
  %ul
    %li.clearfix
      = f.label :title
      = f.text_field :title
    %li.clearfix
      = f.label :identifier
      = f.text_field :identifier
  
  %h2 Privileges
  = hidden_field_tag "access_role[access_right_ids][]", ""
  %table
    - AccessRight.all.each do |p|
      %tr
        %td
          = check_box_tag "access_role[access_right_ids][]", p.id, @user_role.access_rights.include?(p)
        %td
          = t "access_right_categories.#{p.category}"
        %td
          = label_tag "access_role[access_right_ids][]", t("access_rights.#{p.identifier}")
  
  .clearfix
    = f.submit