#table-dataset-detail
  %ul.body
    %li.row
      %span.name-item= t("metadata.created_on")
      %span= @record.created_at
    %li.row
      %span.name-item= t("metadata.valid_from")
      %span= @record.validity_date
    %li.row
      %span.name-item= t("metadata.last_update")
      %span= @record.updated_at
    %li.row
      %span.name-item= t("metadata.status")
      %span= @record.record_status
    %li.row
      %span.name-item= t("metadata.quality_status")
      %span= @record.quality_status
