.node
  .information
    .clearfix.buttons
      .fl
        = button_link_to(image_tag("back.png") + t("global.back"), dataset_path(@dataset_description, :page => params[:page]))
      .fl
        %h1.main= @dataset_description.title
      .fr.actions.metadata
        - if has_privilege?(:edit_record)
          = t("metadata.status") + ":"
          = I18n.t("record_statuses.#{@record.record_status}")
          |
        = t("metadata.quality_status") + ":"
        = I18n.t("quality_statuses.#{@record.quality_status}")
        |
        - if has_privilege?(:edit_record)
          = link_to t("global.edit"), edit_dataset_record_path(@dataset_description, @record)
          |
          = link_to t("global.delete"), dataset_record_path(@dataset_description, @record), :method => "delete", :confirm => "Are you sure you want to delete this item?"

    %table
      - @field_descriptions.each do |field_description|
        - if not @record[field_description.identifier].nil?
          %tr
            %td.label
              - if @quality_status.find { |qs| qs.column_name == field_description.identifier }
                = image_tag "icons/exclamation.png", :class => "quality_status"
              = field_description.title
            %td= @record.get_html_value(field_description)
    - @related_records_and_fields.each do |records, fields|
      %br
      - if records.present?
        %h1{:style => 'margin-bottom: 0;'}= records.first.dataset.description.title
        %table
          %tr
            - fields.each do |field|
              %th= field.title          
          - records.each do |record|
            %tr
              - fields.each do |field|
                %td= record[field.identifier]
              

  = render :partial => 'node_menu'
    
#comments
  = render :partial => "datasets/comments"
  
#metadata
  = render :partial => "metadata"
  