%h1= t "global.settings"

= form_for :settings, :url => update_all_settings_path, :html => {:method => :put} do |f|
  %table
    %tr
      %th= t "settings.name"
      %th= t "settings.description"
      %th= t "settings.value"
    - @settings.each do |setting|
      %tr
        %td
          %b= setting.name
        %td
          %b= setting.description
        %td
          = text_field_tag "settings[#{setting.id}][value]", setting.value
  
  .action_box
    = f.submit t "global.save"