%h1= t "global.settings"

- form_for :settings, :url => update_all_settings_path, :html => {:method => :put} do |f|
  %table
    %tr
      %th= t "settings.name"
      %th= t "settings.description"
      %th= t "settings.value"
    - @settings.each do |setting|
      %tr
      - fields_for "settings[#{setting.id}]", setting do |fields|
        %td
          %b= setting.name
        %td
          = setting.description
        %td
          = fields.text_field :value
  
  .action_box
    = f.submit t "global.save"