%h1
  Data Types
%table
  %tr
    %th
      Title
    %th
      Database type
    %th
      Validation expression
  - @data_types.each do |data_type|
    %tr
      %td
        = link_to data_type, edit_data_type_path(data_type)
        = link_to image_tag('icons/trash.gif'), data_type, :method => 'delete'
      %td
        = h data_type.database_type
      %td
        = h data_type.validation_expression
%br
= link_to '<span>Create new</span>', new_data_type_path, :class => 'dark button'
