<h1><%= @page.title %></h1>
<p>
  <%= @page.html_body %>
</p>
<p>
  <div class="blocks container prepend-top append-bottom prepend-1">
    <h1><%=t :blocks_heading %></h1>
  <% for block in @blocks %>
    <div class='span-7 prepend-top'>
    <% if block.url!="" %><a href="<%= block.url %>"><% end %>
    <%= image_tag block.image.url(:standard) %><h2><%= block.title %></h2>
    <% if block.url!="" %></a><% end %>
    </div>
  <% end %>
  </div>
  <%= will_paginate @blocks, :previous_label => "&lt;", :next_label => "&gt;", :page_links => false, :id => "block_pagination" %>
</p>
