%h1= @page.title
#page_content{class: params[:id] == 'index' ? 'with_sidebar': ''}=raw @page.html_body

#newsfeed
  %ul
    %li=link_to 'Novinky', '', class: 'headline'
    %li
      = link_to 'Lorem ipsum dolor sit amet', '', class: 'headline_newsfeed'
      Consectetur adipiscing elit. Curabitur quis lacus id massa suscipit pretium vitae sed erat.

.clearfix &nbsp;
-#- if @blocks.present?
  %p
    .blocks.container.prepend-top.append-bottom.prepend-1
      %h1=t :blocks_heading
      - @blocks.each do |block|
        .span-7.prepend-top
          - if block.url.present?
            = link_to block.url do
              = image_tag(block.image.url(:standard))
              %h2= block.title
          - else
            %h2= block.title
    = will_paginate @blocks, previous_label: '&lt;', next_label: '&gt;', page_links: false, id: 'block_pagination'
