= form_for @dataset_description, :url => dataset_path(@dataset_description), :html => {:class => "inline submit_on_change"} do |f|

  = render "datasets/admin/batch", f: f

  #table-dataset{class: @dataset_description.identifier}
    %ul.header
      %li.row-header
        %span#select_all.cell.select_all
          %input.select_all{type: :checkbox}
        %span.cell
        - @field_descriptions.each do |field_description|
          %span.cell{class: field_description.identifier}
            %div{title: field_description.description, class: field_description.description.present? ? 'has-tip' : ''}= sort_link(field_description)

    %ul.body
      - @records.each do |record|
        %li.row{:id => dom_id(record), :class => cycle("odd", "even")}
          %span.cell
            = check_box_tag "record[]", record._record_id, false, :class => "record", :id => dom_id(record, "check")
          %span.cell
            = image_tag "icons/record_status/icon_#{record.record_status}.png", :alt => t("record_statuses.#{record.record_status}"), :class => "tooltip"
            = image_tag "icons/record_status/icon_#{record.quality_status}.png", :alt => t("quality_statuses.#{record.quality_status}"), :class => "tooltip"
          - @field_descriptions.each do |field_description|
            - value = record.get_truncated_html_value(field_description)
            %span.cell{class: field_description.data_type}
              = link_to value, dataset_record_path(@dataset_description, record, page: params[:page]), title: t("global.show"), style: field_description.min_width? ? "min-width: #{field_description.min_width}px;" : ""
