- predicate ||= nil

%li.row

  %span
    %select{class: "search_field", name: "search[predicates][][field]"}
      %option{value: "", class: "string", selected: (predicate == nil || predicate.search_field == nil)}= t("search.any_field")
      - if @dataset_description.present?
        - @dataset_description.field_descriptions_for_detail.each do |fd|
          %option{value: fd.identifier, class: fd.data_type, selected: (predicate && predicate.search_field == fd.identifier ? "selected" : nil)}= fd

  %span
    %select{class: "search_operator", name: "search[predicates][][operator]"}
      - SearchPredicate.datatype_operators.each do |type, operators|
        %optgroup{label: t("data_types.#{type}"), class: type}
          - operators.each do |operator|
            %option{value: operator, selected: (predicate && predicate.operator == operator.to_s ? "selected" : nil)}= t("operators.#{operator}")

  %span
    %input{class: "search_value", name: "search[predicates][][value]", value: (predicate ? predicate.argument : "")}

  %a{:href => "#", :class => "remove_row less"}
