- form_tag searches_path, :class => "new_search" do
  %h2= t "search.create_search", :dataset => @dataset_description.title
  
  = hidden_field_tag "search[dataset]", @dataset_description.identifier
  
  %ul.search
    - predicates ||= []
    - predicates.each do |predicate|
      = render :partial => "searches/predicate_row", :locals => {:predicate => predicate}
  
    - if predicates.size == 0
      = render :partial => "searches/predicate_row"
        
  %br
  = submit_tag t("global.submit")