%h1.main.clearfix
  .fl=h(t("search.results_count", :query_string => @search.query_string, :count => @results.total_entries))
  .fr.actions
    =link_to t("global.back"), datasets_path

- if @search.search_type == "text"
  = render :partial => "form"
- elsif @search.search_type == "predicates"
  = render :partial => "predicates_form", :locals => {:predicates => @search.query.predicates}
- else
  = render :partial => "form"

%table{:class => "small search"}
  %tr.header
    %th=t "global.dataset"
    %th=t "global.record_preview"
    %th.actions
  - @results.each do |result|
    - if result.record
      %tr
        %td= "<em>#{result.description.title}</em><br />#{result.description.category}"
        %td= "#{result.excerpt}<br />(ID:#{result.record_id})"
        %td= button_link_to(t("global.details"), dataset_record_path(result.description, result.record_id))
    - else
      %tr
        %td{:colspan => 3}
          .error=t "global.load_error", :what => "#{result.table_name}/#{result.record_id}"
      
      
.fl
  = will_paginate @results, :previous_label => t("global.previous"), :next_label => t("global.next")
.fr
  = t("global.total_entries")
  %strong= @results.total_entries