%h1.main.clearfix
  .fl=h(t("search.results_count", :query_string => @search.query_string, :count => @results.count))
  .fr.actions
    =link_to t("global.back"), datasets_path

- if @search.search_type == "text"
  = render :partial => "form"
- elsif @search.search_type == "predicates"
  = render :partial => "predicates_form", :locals => {:predicates => @search.query.predicates}
- else
  = render :partial => "form"

.clearfix
  .span-4.sidebar
    %h4= t("global.categories")
    %ul.categories_list
      - @categories_with_results.each do |category|
        %li{:class => params[:category_id].to_i==category.id ? "active": nil}
          = link_to(category.title, "?category_id=#{category.id}")
    
    
  .span-19

    - @datasets.each do |dataset, results|
      
      %h2.clearfix.in_container
        .fl== #{dataset.title}
        .fr= button_link_to(t("search.more_results"), broaden_search_path(@search, :dataset_description_id => dataset.id), :class => "search_preloader")
      %table.frontend.small
        / Header
        %tr
          - dataset.visible_field_descriptions(:search, 5).each do |field|
            %th= field.title
        - results.each do |result|
          %tr
            - dataset.visible_field_descriptions(:search, 5).each do |field|
              %td= result.record.get_html_value(field) if result.record
              
      %br