%h1.main.clearfix
	/ .fl= h(t("search.results_count", :query_string => @search.query_string, :count => @results.count))
	.fr.actions
		= link_to t("global.back"), datasets_path
 
%ul
- @results.each do |dataset_category, result|
	%li{:class => (params[:category_id].to_i == dataset_category.id) ? "active": nil, :style => 'list-style:none;'}
		%h2.bordered= link_to(dataset_category.title, "?category_id=#{dataset_category.id}")
		- result.each do |dataset_description, result_records|
			%h2.clearfix.in_container
				.fl= dataset_description.title
				.fr= button_link_to(t("search.more_results"), broaden_search_path(@search, :dataset_description_id => dataset_description.id), :class => "search_preloader")
			%table.frontend.small
				- fds = dataset_description.visible_field_descriptions(:search, 5)
				%tr
					- fds.each do |field|
						%th= field.title
				- result_records.each do |result|
					%tr
						-fds.each do |field|
							%td= result.get_html_value(field)
							/ = result.send(field.identifier)
			%br