.clearfix
  .fl
    %span= link_to_page "about_service"
    %span= link_to_page "terms_of_service"
    %span= link_to_page "about_organisation"
  .fr
    %span &copy; 2009 Aliancia Fair-Play
    %span= link_to_page "copyright"
    %span= link_to_page "contact"