.buttons.clearfix.fr
  - if @field_descriptions.present?
    = link_to edit_field_description_categories_dataset_description_path, class: 'button' do
      %span  Priradit kategorie popisov
    = sorting_links(order_dataset_description_field_descriptions_path(@dataset_description))
  = link_to "<span>#{t("dataset.add_field_description")}</span>".html_safe, new_dataset_description_field_description_path(@dataset_description), :class => 'button'
%br
%br

- if @field_descriptions.present?
  %table.backend
    %tr.title
      %th.title= t("global.title")
      %th.description{style: 'width: 215px;'}= t("global.description")
      %th.type= t("dataset.type")
      %th.type= t("dataset.identifier")
      %th.actions

  %ul.sortable{style: 'margin-right: 0px;'}
    - @field_description_categories.each do |field_description_category|
      %li[field_description_category]{style: 'padding: 7px 0px;'}
        .title.clear
          .fl.hidden= image_tag 'icons/drag_arrow.png', :class => 'drag_arrow'
          %span[field_description_category]
            = field_description_category.title
          %span.actions
            -#= link_to t("global.edit"), edit_category_path(group), :class => "ajax"
            -#= link_to t("global.delete"), category_path(group), :method => "delete"

        %ul
          = render partial: 'field_description',
                    collection: field_description_category.field_descriptions & @dataset_description.field_descriptions,
                    locals: { dataset_description: @dataset_description }

    %li
      .title.clear
        =t("dataset.no_category")
      %ul= render partial: 'field_description',
                    collection: @other_field_descriptions,
                    locals: { dataset_description: @dataset_description }
