.node
  .information
    .clearfix
      .fl.clearfix.buttons
        .fl
          = button_link_to(image_tag("back.png") + t("global.back"), dataset_descriptions_path)
        .fl
          %h1.main= @dataset_description.title
      .fr.flags
        - unless @dataset_description.is_active?
          %span.error= t("global.inactive")
        - else
          %span.success
            = link_to t("global.active"), dataset_path(@dataset_description)
        - unless @dataset_description.dataset.table_exists?
          %span.error= t("dataset.not_in_database")
        - else
          %span.success= t("dataset.in_database")
        - unless @dataset_description.dataset.has_pk?
          %span.error
            = link_to t("dataset.no_pk"), add_primary_key_dataset_description_path(@dataset_description), :confirm => t("dataset.confirm_add_pk")

    %p= @dataset_description.description
  .menu.clearfix
    %ul.tabs.clearfix.fl
      %li{:class => params[:action]=="show" ? "active" : nil}
        %a{:href => url_for(dataset_description_path(@dataset_description))}= t("dataset.field_descriptions")
      %li{:class => params[:action]=="edit" ? "active" : nil}
        %a{:href => edit_dataset_description_path(@dataset_description)}= t("global.information")
      %li{:class => params[:action]=="visibility" ? "active" : nil}= link_to t("dataset.visibility_settings"), visibility_dataset_description_path(@dataset_description)
      %li{:class => params[:action]=="import_settings" ? "active" : nil}
        %a{:href => import_settings_dataset_description_path(@dataset_description)}= t("dataset.columns_for_import")
      - if @dataset_description.dataset.table_exists?
        %li{:class => params[:action]=="datastore_status" ? "active" : nil}
          %a{:href => datastore_status_dataset_description_path(@dataset_description)}= t("dataset.datastore_status")