= render :partial => "header"

.content.clearfix
  %div.action_box= "Table name: <strong>#{@table_name}</strong>".html_safe
  %br
  
  %h2 Missing descriptions in data dictionary
  %p= "There are #{@missing_descriptions.count} columns in the dataset table that have no description"
  %br
  
  %ul
    - @missing_descriptions.each do |column|
      %li.clearfix{:id => "column_#{column}"}
        %span.fl= column
        %a.fr.button.ajax{:href => create_for_column_dataset_description_field_descriptions_path(@dataset_description, :column => column)}
          %span Add

  %h2 Missing columns in database
  
  %p= "There are #{@missing_columns.count} dataset fields that have no columns in the dataset table"
  %ul
    - @missing_columns.each do |column|
      %li.clearfix{:id => "column_#{column}"}
        %span.fl.highlight
          %strong= column
        %a.fr.button.ajax{:href => create_column_dataset_description_field_description_path(@dataset_description, column)}
          %span Add

