%footer
  = raw SystemVariable.get("copyright_notice")
  \/
  = link_to_page "about_service"
  \/
  = link_to_page "terms_of_service"
  \/
  = link_to_page "copyright"
  \/
  = link_to_page "about_organisation"
  \/
  = link_to_page "contact"
