%footer
  = raw SystemVariable.get("copyright_notice")
  \/
  = link_to_page "about_service"
  \/
  = link_to_page "terms_of_service"
  \/
  = link_to_page "copyright"
  \/
  = link_to_page "about_organisation"
  \/
  = link_to_page "contact"

- if Rails.env.production?
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', "#{Datacamp::Config.get('google_analytics_code')}"]);
    _gaq.push(['_trackPageview']);
    GATracker.gather_data();

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    $(function() {
      GATracker.setup_callbacks();
    });
