%ul#navigation-account
  %li.last
    = link_to '', "http://twitter.com/alianciaFP", class: 'twitter'
  %li.last
    = link_to '', 'http://www.facebook.com/pages/Datanest-Aliancie-Fair-play/151055951576439', class: 'facebook'

  - I18N_LOCALES.each do |locale|
    %li= link_to_unless I18n.locale == locale, I18N_LOCALE_NAMES[locale], url_for(:locale => locale.to_s), :class => "forward_hash"

  - if logged_in?
    %li= link_to t("global.logout"), logout_path

    %li= link_to t("users.my_account"), account_path, class: 'js-my-account'

    %li= current_user
  - else
    %li= link_to t("global.login"), new_session_path(return: url_for)

    %li= link_to t("users.register"), new_account_path
