!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    = render 'layouts/facebook_meta' if @dataset_description.present?
    = raw SystemVariable.get("meta_information")
    %title= SystemVariable.get "site_name", "Datacamp"

    = csrf_meta_tag unless response.cache_control[:public]

    = render 'layouts/asset_includes' # FIXME: remove this when moving to asset pipeline
    = javascript_include_tag @javascripts if @javascripts.present? # FIXME: remove this when moving to asset pipeline

  %body
    = render :partial => "layouts/search_processing"
    #main
      #top-nav
        = render :partial => "layouts/user"
        |
        - I18N_LOCALES.each do |locale|
          = link_to_unless I18n.locale == locale, I18N_LOCALE_NAMES[locale], set_locale_path(:locale => locale.to_s), :class => "forward_hash"
      #header
        .container
          .span-4
            = link_to("&nbsp;".html_safe, root_path, :class => "home")
          .prepend-7.span-15
            = render :partial => "layouts/top_search"
          .span-2.last
            = render :partial => "layouts/social_links"
      #menu
        = render :partial => "layouts/menu"
      #container
        - unless response.cache_control[:public]
          - if flash[:notice]
            %p.notice= flash[:notice]
          - if flash[:error]
            %p.error= flash[:error]
        = yield
      #footer
        = render :partial => "layouts/footer"
