!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    = render 'layouts/facebook_meta' if @dataset_description.present?
    = raw SystemVariable.get("meta_information")
    %title= SystemVariable.get "site_name", "Datacamp"

    = csrf_meta_tag unless response.cache_control[:public]

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag @javascripts if @javascripts.present? # FIXME: remove this when moving to asset pipeline

    = tag :meta, name: "user-registered", :content => '' if flash[:user_registered]
    = tag :meta, name: "user-signed-in", :content => '' if flash[:user_signed_in]
  %body
    = render 'layouts/cookie_banner'
    = render "layouts/search_processing"

    #main
      -#= render 'layouts/feedback_banner'
      = render 'layouts/menutop'

      #logo
        = link_to root_url do
          = image_tag 'logo_datanest.png'

      = render 'layouts/menu'

      #container
        - unless response.cache_control[:public]
          - if flash[:notice]
            %p.notice= flash[:notice]
          - if flash[:error]
            %p.error= flash[:error]
        = yield
        #search_advanced.hidden
          %h1
            = t('search.header')
            = link_to '', nil, class: 'button_close'

          = render "searches/predicates_form", predicates: @search_predicates

      = render 'layouts/footer'
