!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title= SystemVariable.get "site_name", "Datacamp"
    = stylesheet_link_tag 'blueprint/screen.css', 'special', 'other', 'typo', 'buttons', 'tables', 'forms', 'layouts/frontend_main'
    = stylesheet_link_tag 'modules/main', 'modules/dataset_descriptions', 'modules/datasets', 'modules/searches'
    = stylesheet_link_tag "/themes/#{SystemVariable.get("theme", "default")}/stylesheets/screen.css"
    = javascript_include_tag 'jquery.js', 'jquery.history.js'
    = javascript_include_tag 'inscription.js', 'dataset_descriptions.js', 'searches.js', 'datasets.js', 'application.js'
    - if @javascripts
      = javascript_include_tag @javascripts
    %script== URL_ROOT = "#{ActionController::Base.relative_url_root}";
  %body.frontend
    = render :partial => "layouts/search_processing"
    #main
      #header
        = link_to("&nbsp;", root_path, :class => "home")
        #nav
          = render :partial => "layouts/user"
          |
          - I18N_LOCALES.each do |locale|
            = link_to_unless I18n.locale == locale, I18N_LOCALE_NAMES[locale], set_locale_path(:locale => locale.to_s), :class => "forward_hash"
      #menu
        = render :partial => "layouts/menu"
      #container
        - if flash[:notice]
          %p.notice= flash[:notice]
        - if flash[:error]
          %p.error= flash[:error]
        = yield
      #footer
        = render :partial => "layouts/footer"