%h2= t "users.api_access"

.clearfix
  - if current_user.api_key
    %p
      = t "users.current_api_key"
      %strong= current_user.api_key.key
  - else
    %p= t "users.no_api_key"

  %br

  = button_link_to t("users.create_api_key"), new_api_key_path, class: 'js-create-api-key'
