- @comments.each do |comment|
  .comment[comment]
    .clearfix.title
      .fl
        %strong= comment.user.name
        = link_to comment.dataset_description.title, dataset_path(comment.dataset_description)
        - if comment.record_id
          == /
          = link_to t("global.record", :id => comment.record_id), dataset_record_path(comment.dataset_description, comment.record_id)
        - if comment.is_suspended
          %span.warning= t "comments.suspended"
      .fr
        = render :partial => "comments/comment_rating", :locals => {:comment => comment}
    .text
      %p= comment.text