%h1= t('profile.change_password')

= form_for @account, :builder => ListFormBuilder, :url => account_path do |f|
  = f.error_messages
  
  %ul
    
    = f.password_field :password
    = f.password_field :password_confirmation
  
    %li.clearfix
      %label
      = f.submit t "global.save"
