%h1== #{h @account.name} (#{h @account.login})

= form_for @account, :builder => ListFormBuilder, :url => account_path do |f|
  = f.error_messages
  
  %ul
    = f.hidden_field :accepts_terms
    = f.text_field :name
    = f.text_area :about
    = f.select :loc, I18N_LOCALES.collect{|l|[I18N_LOCALE_NAMES[l], l.to_s]}
    = f.text_field :email
    = f.check_box :show_bad_quality_datasets
  
    %li.clearfix
      %label
      = f.submit t "global.save"
