%h1= t("users.register")

- form_for @account, :url => account_path, :builder => ListFormBuilder do |f|
  %ul
    = f.text_field :login
    = f.text_field :email
    = f.password_field :password
    = f.password_field :password_confirmation
    
    = f.submit t("users.register")