%h1= t("users.register")

= form_for @account, :url => account_path, :builder => ListFormBuilder do |f|
  %ul
    = f.text_field :login
    = f.text_field :email
    = f.password_field :password
    = f.password_field :password_confirmation
    
    %li.clearfix
      = f.label :accepts_terms, I18n.t("users.agree_with", :s => link_to_page("terms_of_service", I18n.t("users.with_terms_of_use"))).html_safe
      = f.check_box :accepts_terms, :inline => true
    
    %li.clearfix
      %label= t("global.captcha")
      .fl
        = (recaptcha_tags :public_key => Datacamp::Config.get(:captcha_public_key)).html_safe
    
    = f.submit t("users.register")